<app-navbar></app-navbar>
<div class="container my-5">
  <div class="row mb-3">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a href="#"><img src="assets/physical-growth.jpg" style="height: 150px"> </a>
          <h5 class="card-title d-inline ms-2">Physical Growth</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="white-space: pre-line;">
            People genuinely care for children and strive to provide
            them with happiness that
            surpasses their own experiences. Our efforts will support your child's mental and physical development. Our
            recommendation truly adds a special touch to every event or function.
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a href="#"><img src="assets/mental-growth.jpg" style="height: 150px"> </a> <h5
          class="card-title d-inline ms-2  ">
          Mental
          Growth</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="#"><img src="assets/gift-ideas.jpg" style="height: 150px"> </a>
          <h5 class="card-title d-inline ms-2">Gift Ideas</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <a href="#"><img src="assets/event-planning.jpg" style="height: 150px"> </a>
          <h5 class="card-title d-inline ms-2">Event Planning</h5>
        </div>
      </div>
    </div>
  </div>
</div>

