<div class="home-bg">
  <div class="container text-center mt-5 ">
    <div><img class="logo" src="assets/rubiks-cube-large.png" style="height: 35vh"></div>
    <h1 class="my-2">Welcome to SmartyPals</h1>
    <p class="lead my-2">Unlock the world of learning through play with our thoughtfully curated toys for curious
      minds.</p>
    <!--  <img src="landing-page-banner.jpg" alt="SmartyPals Banner" class="img-fluid rounded my-3">-->
    <a routerLink="/home" class="btn btn-primary btn-lg my-2 logo">Explore Now</a>
  </div>
</div>
